body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.1), 0 3px 4px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}


/* 
    Navbar
*/

.bg-003300{
    background-color: #003300;
}

li:hover{
    background-color: #008600;
}

/*
    Image Prewiew in modal Update Profile Picture
*/

.imgDiv{
    height: 150px;
    width: 150px;
    margin: auto;
}

.imgProf{
    width: 100%;
    height: 100%;
}

.imgPrev{
    margin: auto;
    display: none;
}

.imgDef{
    margin: auto;
    display: block;
}

.imgWarning{
    margin: auto;
    display: none;
}

.btn-primary{
    background-color: #04c537;
}

.btn-primary:hover{
    background-color: #017501;
}

.hr-border{
    border: 2px solid #017501;
}

/* Text */

.text-color-primary{
    color:#02ad30;
}

.text-color-title{
    color:#018725;
}

.text-color-edit{
    color:#018725;
}

.text-color-remove{
    color:#d9534f;
}


.btn-remove-topic{
    border: none;
    background-color: transparent;
}


.btn-tutor{
    background-color: #015a01;
}

.btn-tutor:hover{
    background-color: #028302;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
}

.btn-tutor-active{
    background-color: #028302;
    border: 1px solid;
    box-shadow: 5px 5px #888888;
    /* border-bottom: 4px solid #015a01; */
}

.btn-tutor-width{
    width: 100%;
}

.btn-search{
    color: #fff;
    background-color: #015a01;
}

.btn-search:hover{
    background-color: #028302;
    color: #fff;
}

.nav-active{
    background-color: #028302;
}

.nav-option-link:hover{
    font-weight: bold;
}

.nav-border-right{
    border-right: 1px solid #00ff00;
}

/* ============================================================ */
/*                      Search Result Page                      */
/* ============================================================ */

.li-hover:hover{
    background-color: #d3fdcf;
}

.tab-link-style{
    color: #02ad30;
}

.tab-link-style:hover{
    color: #018725;
    font-weight: bold;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #018725;
  font-weight: bold;
  background-color: #f8fafc;
  border-width: 3px;
  border-color: #dee2e6 #dee2e6 #f8fafc;
}

.result-subject-text-primary{
    color: #018725;
}

.result-subject-text-secondary{
    color: gray;
}

.btn-view-profile{
    color: #018725;
}

.btn-view-profile:hover{
    background-color: #d3fdcf;
    color: #018725;
    font-weight: bold;
}


/* ============================================================ */
/*                      View Tutor Profile Page                 */
/* ============================================================ */

.btn-apply{
    color: #fff;
    background-color: #015a01;
}

.btn-apply:hover{
    background-color: #028302;
    color: #fff;
}


.btn-decline{
    color: #015a01;
    background-color: #ffffff;
    border: 1px solid #015a01;
}

.btn-decline:hover{
    background-color: #ff0000;
    color: #fff;
}

.border-bottom{
    border: 0 0 1 0 solid #015a01;
}

/* ============================================================ */
/*                      View Tutee's Class Page                 */
/* ============================================================ */

.text-margin-right{
    margin-right: 20px;
}


.text-margin-left{
    margin-left: 20px;
}

.text-margin-left-t{
    margin-left: 20px;
}

@media (max-width: 500px) {
    .text-margin-right{
        margin-right: 0px;
    }
    
    .text-margin-left{
        margin-left: 0px;
    }
    .text-margin-left-t{
        margin-left: 20px;
    }
}

.activity-link{
    background-color: transparent;
}

.activity-link:hover{
    background-color: #d3fdcf;
}
